* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #111;
    font-family: "Poppins", sans-serif;
}


.hero {
    width: 100%;
    height: 65vh;

    margin-top: 60px;
    padding: 0;

    position: relative;
    overflow: hidden;

    background-color: #000;
}




.mySwiper {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    position: relative;
}




.mySwiper .swiper-slide {
    width: 100%;
    height: 100%;
}



.hero-banner {
    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;

    position: relative;
}




.overlay {
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding-left: 50px;
    padding-right: 30px;

    color: white;
}




.overlay h1 {
    max-width: 500px;

    font-size: 45px;

    margin-bottom: 15px;
}

.overlay p {
    max-width: 600px;

    font-size: 18px;

    margin-bottom: 20px;

    font-weight: bolder;
}




.overlay button {
    width: 150px;

    padding: 12px;

    border: none;
    border-radius: 8px;

    background-color: red;

    color: white;

    font-size: 18px;

    cursor: pointer;
}




@media (max-width: 900px) {

    .hero {
        height: 50vh;
        margin-top: 60px;
    }

    .overlay {
        padding-left: 30px;
        padding-right: 30px;
    }

    .overlay h1 {
        font-size: 2rem;
        max-width: 400px;
    }

    .overlay p {
        font-size: 1rem;
        max-width: 450px;
    }
}




@media (max-width: 600px) {

    .hero {
        height: 45vh;
        min-height: 300px;

        margin-top: 60px;
    }

    .overlay {
        padding-left: 20px;
        padding-right: 20px;
    }

    .overlay h1 {
        font-size: 1.7rem;
        max-width: 100%;

        margin-bottom: 10px;
    }

    .overlay p {
        font-size: 0.9rem;

        max-width: 90%;

        margin-bottom: 12px;
    }

    .overlay button {
        width: 130px;

        padding: 10px;

        font-size: 15px;
    }
}




@media (max-width: 480px) {

    .hero {
        height: 40vh;
        min-height: 280px;

        margin-top: 60px;
    }

    .overlay {
        padding-left: 15px;
        padding-right: 15px;
    }

    .overlay h1 {
        font-size: 1.3rem;
    }

    .overlay p {
        font-size: 0.8rem;
    }

    .overlay button {
        width: 120px;
        padding: 9px;

        font-size: 14px;
    }
}
