body{
    margin: 0;
    padding: 0;
}

.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
    backdrop-filter: blur(8px);
   

}

.logo{
    text-decoration: none;
    color: #B4121B;
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;

    
}
.logoimg{
    width: auto;
    height: 80px;
    margin-right: -12px;
    object-fit: cover;
    border-radius: 50%; 
    
}
.navigator{
    text-decoration: none;
    padding-left: 10px;
    margin-left: 10px;
    color: white;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    

}
.navbar-left {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 1px;

}
.navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    
}
.search{
    text-align: right;
    margin-left: 20px;
    color: white;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 10px;   

}
.search input{
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    outline: none;

}
.search button{
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: #fff;
    cursor: pointer;
}
.navbar h2{
   color: #fff;
}

.search{
    display: flex;
    align-items: center;

    width: 150px;
    height: 30px;

    background: white;
    border-radius: 20px;

    padding: 0 14px;

    box-shadow: 1px solid #dcdcdc;

}

.search-icon{
    color: #777;
    font-size: small;
    margin-right: -12px;
  
}

.search input{
    width: 100%;
    height: 100%;
    color: white;
    font-weight: 600;

    border: none;
    outline: none;

    background: transparent;
    font-size: small;
    color: #222;
    padding-left: 10px;
}

.watchlist-count{
    color: #d40b15;
    font-weight: bold;
}

.navigator-genre-btn{
    padding: 0;
    margin: 0;
    outline: none;
    margin-left: 20px;
    background: none;
    border: none;
    font-size: 1.1rem;
    color: white;
    font-weight: 600;
    cursor: pointer; 
}


