.summary-card{
background:#181818;
border-radius:18px;
padding:25px;
margin-bottom:20px;

}

.summary-card{
display:flex;
flex-wrap:wrap;
justify-content:space-between;
gap:5px;

}

.summary-left{
min-width:180px;
}

.summary-left h1{
font-size:65px;
color:#ffc107;
margin:0;

}

.summary-total{
color:#aaa;
font-size:18px;
margin-top:10px;

}

.summary-right{
flex:1;

}

.rating-row{
display:flex;
align-items:center;
margin-bottom:12px;
gap:12px;

}

.rating-label{
width:45px;
color:white;

}
.rating-bar{
flex:1;
height:10px;

background:#333;

border-radius:30px;

overflow:hidden;

}

.rating-fill{

height:100%;

background:#ffc107;

border-radius:30px;

transition:.4s;

}

.rating-count{

width:30px;

text-align:right;

color:#ddd;

}

.write-review-btn{
width:70%;
margin-top:5px;
padding:12px;
margin-left: 60px;
border:none;
border-radius:20px;
background:#e50914;
color:white;
font-size:17px;
font-weight:600;
cursor:pointer;
transition:.3s;

}

.write-review-btn:hover{
background:#b20710;

}